[submodule "themes/zenburn"]
	path = themes/zenburn
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "lib/yaml-mode"]
	path = lib/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "lib/emacs-git-gutter"]
	path = lib/emacs-git-gutter
	url = git://github.com/syohex/emacs-git-gutter.git
[submodule "lib/projectile"]
	path = lib/projectile
	url = https://github.com/bbatsov/projectile
[submodule "lib/dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "lib/s"]
	path = lib/s
	url = https://github.com/magnars/s.el
